@page
@model Monte.AuthServer.Pages.Login

@{
    Layout = "Shared/_Layout";
}
<div class="login-form-wrapper text-black text-center">
    <form method="POST" class="login-form">
        <div class="form-floating mb-3">
            <input asp-for="Username" id="Username" class="form-control" />
            <label for="Username" asp-for="Username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Password" class="form-control" type="password" />
            <label asp-for="Password">Password</label>
        </div>
        <button class="w-50 btn btn-warning" type="submit" style="border-radius: 10px">Login</button>
    </form>
    @if (Model.GoogleValid)
    {
        <a class="w-50 btn btn-info" asp-controller="ExternalAuth" asp-action="Google">Login with Google</a>
    }
</div>