@page
@model Monte.AuthServer.Pages.Login

@{
    Layout = "Shared/_Layout";
}

<form method="POST" style="display: flex; flex-direction: column;">
    <span>
        <label asp-for="Username">Username</label>
        <input asp-for="Username"/>
    </span>
    <span>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password"/>
    </span>
    <button type="submit">Login</button>
</form>