@use 'theme' as theme;
@use '@angular/material' as mat;

@mixin color-warn {
  color: mat.get-theme-color(theme.$main-theme, 'warn', 'default');
}

@mixin flex-row($gap: 0px) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin flex-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin vertical-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

@mixin screen-padding {
  padding: 20px 20px;
}
