@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$color-primary: mat.define-palette(mat.$cyan-palette);
$color-accent: mat.define-palette(mat.$cyan-palette);
$color-warn: mat.define-palette(mat.$red-palette);

$main-theme: mat.define-dark-theme((
 color: (
   primary: $color-primary,
   accent: $color-accent,
   warn: $color-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($main-theme);
