@use 'mixins' as mix;

:host {
  @include mix.flex-col;
  height: 100%;
}

.content {
  padding: 20px 20px;
  height: 100%;
  width: 100%;
  @include mix.flex-col;
  align-items: center;
}

.toolbar {
  @include mix.flex-row;
  justify-content: space-between;
  padding: 0px 20px;
}

.toolbar-group {
  @include mix.flex-row(50px);
}
