<mat-toolbar class="toolbar">
  <div class="toolbar-group">
    <span>Monte</span>
    <button mat-button routerLink="agents" class="nav-button">Agents</button>
  </div>
  <div *ngIf="user$ | async; let user; else spinner" class="toolbar-group">
    <div>User: {{ user.name }}</div>
    <button mat-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<ng-template #spinner>
  <app-spinner [diameter]="50">
  </app-spinner>
</ng-template>
