@if (users$ | async; as users) {
  <h1>Users</h1>
  <div class="card-list">
    @for (user of users; track user) {
      <mat-card class="user-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>{{ user.isAdmin ? 'supervisor_account' : 'person' }}</mat-icon>
          <mat-card-title>{{ user.name }}</mat-card-title>
          @if (user.isCurrent) {
            <mat-card-subtitle>Current</mat-card-subtitle>
          }
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>manage_accounts</mat-icon>
            Manage
          </button>
          @if (user.isAdmin) {
            <button mat-button color="warn" (click)="onDelete(user)">
              <mat-icon>delete</mat-icon>
              Remove
            </button>
          }
        </mat-card-actions>
      </mat-card>
    }
  </div>
} @else {
  <app-spinner></app-spinner>
}
