@use 'mixins' as mix;

:host {
  width: 100%;
  height: 100%;
}

.sidenav-container {
  height: 100%;
  width: 100%;
}

.content-container {
  @include mix.flex-col;
  align-items: center;
}

.content {
  min-width: 80%;
  @include mix.screen-padding;
}

.sidenav {
  min-width: 400px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 0.5px solid transparent;
  border-top: 0.5px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.header {
  @include mix.flex-row;
  justify-content: space-between;
}

.search-bar {
  max-width: 500px;
  width: 100%;
}
