<form #form="ngForm" class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <app-input-field label="Current password" [group]="formGroup" controlName="currentPassword" type="password">
  </app-input-field>
  <app-input-field label="New password" [group]="formGroup" controlName="newPassword" type="password">
  </app-input-field>
  <app-input-field label="Confirm new password" [group]="formGroup" controlName="passwordConfirmation" type="password">
  </app-input-field>
  @if (isLoading) {
    <app-spinner></app-spinner>
  } @else {
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid">Change</button>
  }
</form>
