@use 'mixins' as mix;

:host {
  height: 100%;
  width: 100%;
  @include mix.screen-padding
}

.container {
  height: 100%;
}

.drawer {
  min-width: 300px;
}

.drawer-content {
  @include mix.flex-col(20px);
  align-items: center;
  padding: 20px;
}

.chart-card {
  height: 100%;
  margin-left: 20px;
  @include mix.flex-col;
  align-items: center;
  justify-content: center;
}

.chart {
  width: 90%;
  height: 80%;
}

.divider {
  width: 100%;
}
